%p.hello= t(".hello", username: @user.username)
%p= t(".intro")
%p= t(".body1", time: l(User::LINK_VALIDITY.from_now))
%p= link_to t(".action"), reset_password_url(@token), class: "acorn_btn email"
%p= t(".alternative")
%p.token= link_to reset_password_url(@token), reset_password_url(@token)