<div class="super-box" id="landing">

<section class="headline">
  <h1 class="idea">Open Idea Station</h1>
  <h6>
    We’re now living in an <span class="emphasize">Idea Economy</span> where success is defined by the ability to turn ideas
    into value faster and more <span class="emphasize">collaboratively</span>.
  </h6>
  <%= link_to 'Get Started', new_idea_path, :class => "btn btn-large get-started-btn" %>
</section>
</div>
<section class="super-box" id="features">
  <div class="box features-box">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <h5>Ideas for our time</h5>
        <br>
        <p>
          Discover a community of people dedicated to open source projects and ideas
          that shape the future
        </p>
      </div>
      <figure class="mdl-cell mdl-cell--6-col success-illustration">
        <%= image_tag("discover.png") %>
      </figure>
    </div>

    <div class="divider"></div>

    <div class="mdl-grid">
      <figure class="mdl-cell mdl-cell--6-col success-illustration">
        <%= image_tag("success.png") %>
      </figure>
      <div class="mdl-cell mdl-cell--6-col">
        <h5>Contribute skills and learn from successful project</h5>
      </div>
    </div>

    <div class="divider"></div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <h5>Build on great ideas</h5>
      </div>
      <figure class="mdl-cell mdl-cell--6-col success-illustration">
        <%= image_tag("discover.png") %>
      </figure>
    </div>

    <div class="divider"></div>

    <div class="mdl-grid">
      <figure class="mdl-cell mdl-cell--6-col success-illustration">
        <%= image_tag("success.png") %>
      </figure>
      <div class="mdl-cell mdl-cell--6-col">
        <h5>Share and discover projects and ideas</h5>
      </div>
    </div>

    <div class="divider"></div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <h5>Access ideas specific to you</h5>
      </div>
      <figure class="mdl-cell mdl-cell--6-col success-illustration">
        <%= image_tag("discover.png") %>
      </figure>
    </div>

  </div>
</section>
