<div id="signup-background">
<h5 class="signup-headine">Get access to open source ideas, connect and start contributing on large open source communities in the world.
Join now to start your own.</h5>

  <div class="signup-form">
    <%= form_with scope: :user, url: '/signup', local: true do |form| %>

      <div div class="field">
        <%= form.label :username %><br>
        <%= form.text_field :username, id: :username %>
      </div>

      <div div class="field">
        <%= form.label :email %><br>
        <%= form.text_field :email, id: :email %>
      </div>

      <div div class="field">
        <%= form.label :password %><br>
        <%= form.password_field :password, id: :password %>
      </div>

      <div div class="field">
        <%= form.label :password_confirmation %><br>
        <%= form.password_field :password_confirmation, id: :password_confirmation %>
      </div>
    
      <div class="actions">
        <%= form.submit "Submit" %>
      </div>

    <% end %>
  </div>
</div>
