<div id="signup-background">
  <div class="signup-headline">
    <h5>Create your account</h5>
  </div>

  <div class="signup-form">
    <%= form_with scope: :user, url: '/signup', local: true, id: :global do |form| %>

      <div div class="field">
        <%= form.text_field :username, id: :username, placeholder: 'Username' %>
      </div>

      <div div class="field">
        <%= form.text_field :email, id: :email, placeholder: 'Email' %>
      </div>

      <div div class="field">
        <%= form.password_field :password, id: :password, placeholder: 'Password' %>
      </div>

      <div div class="field">
        <%= form.password_field :password_confirmation, id: :password_confirmation, placeholder: 'Confirm password' %>
      </div>
    
      <div class="actions">
        <%= form.submit "Submit" %>
      </div>

    <% end %>
  </div>
</div>
