#user
  - present(@user) do |u|
    %section.user-form
      %div{class: "title omniauth-#{u.provider}"}
        %span.omniauth-logo
          %i{class: "fa fa-#{u.provider}"}
        %span.omniauth-text
          Signin as
          = u.username
        %span.omniauth-picture
          %img{src: "#{u.picture}"}
      .body
        =form_with scope: :user, url: omniauth_session_path, local: true, id: :global do |form|
          = form.hidden_field :username, value: u.email
          .field.for-data.group
            %label Password
            =form.password_field :password, id: :password, placeholder: 'enter your password'
          .field.group
            %span.actions
              =form.submit :Login