
<div id="login-modal">
  <div class="modal-top">
    <div class="modal-header">
      <span class="close-button"></span>
    </div>

    <div class="modal-content">
    
      <%= form_with scope: :session, url: '/login', local: true do |form| %>
        <div div class="field">
          <%= form.label :username %>
          <%= form.text_field :username, id: :username %>
          <%= form.label :password %>
          <%= form.password_field :password, id: :password %>
          <%= form.submit :login %>
        </div>
      <% end %>
      
    </div>
    
  </div>
  <div class="modal-bottom">
  </div>
</div>