<!DOCTYPE html>
<html>
  <head>
    <title>Open Idea Station | Home for your ideas</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': true %>
  </head>

  <body>
    <%= render ("layouts/login_modal") %>
    <%= render ("layouts/confirmation_modal") %>
    <% if logged_in? %>
      <%= render("layouts/auth_header")%>
    <% else %>
      <%= render("layouts/header")%>
    <% end %>
    <%= yield %>
    <%= render("layouts/footer")%>
  </body>
</html>
