<!DOCTYPE html>
<html>
  <head>
    <title>Acorns</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render ("layouts/login_modal") %>
    <% if logged_in? %>
      <%= render("layouts/auth_header")%>
    <% else %>
      <%= render("layouts/header")%>
    <% end %>
    <%= yield %>
  </body>

</html>
